.main{
	/*height: 100vh;*/
	/*width: 100%;*/
	/*padding: 3rem 7rem;*/
}
.main {/*
	background-image: url('i1.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/
}

#home-tile {
	margin-top: 1.5rem;
}
#menu-tile {
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  /*border: 2px solid #3F0C1F;*/
  overflow: hidden;
  transition: all 0.4s;
}
#menu-tile:hover, #story-tile:hover, #map-tile:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.6);
  transform: translateY(-13px);
  transition: all 0.2s;

  }
#menu-tile {
  background-position: center;
  background-repeat: no-repeat;
}

#menu-tile span, #story-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.abtUs {
	box-shadow: 0 10px 20px rgba(0, 0,0 , 0.4);
	height: auto;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 3rem 2rem;
	margin-bottom: 1.5rem;
	/*background-color: #ea5a6c;*/
}

.panel-footer {
  /*opacity: 0.8;*/
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #ea5a6c;
  border-top: 0;
}